
/*Styling used for the tweet feed*/
.tweets{
  border-radius: 5px;
  border: 1px solid #cccccc;
  margin: 10px 0px 10px 0px;
  width: auto;
}

/*Hover states for the tweet articles*/
.tweets:hover{
  border-color: #708090;
}

.tweets:hover .icons{
  opacity: 1;
}

.tweets:hover .tweet-header{
  opacity: 1;
}

.tweets:hover .fa-heart{
  opacity: .5;
}

.tweets:hover .fa-font-awesome-flag{
  opacity: .5;
}

.tweets:hover .fa-retweet{
  opacity: .5;
}

.tweets:hover .fa-heart:hover{
  opacity: 1;
}



.tweets:hover .fa-font-awesome-flag:hover{
  opacity: 1;
}

.tweets:hover .fa-retweet:hover{
  opacity: 1;
}


.tweet-header{
  height: 50px;
  background-color: #eee;
  overflow: auto;
  opacity: 0.5;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.tweet-header .profile-picture{
  float: left;
  margin: 7px;
  width: 35px;
  height: 35px;
}

.profile-pic{
  width: 35px;
  height: 35px;
}

.tweet-header .author{
  color: #697d84;
  float: left;
  margin: 5px 0px 0px 0px;
}

.tweet-header .tag{
  color: #a3a3a3;
  font-size: 60%;
  float: right;
  margin-top: 13px;
  margin-right: 7px;
}

.tweet-body{
  width: auto;
  color: #294651;
  padding: 30px 10px 30px 10px;
}

.tweet-footer{
  color: #324e58;
  font-size: 60%;
  padding: 7px;
  border-top: 1px solid #eee;
}

.icons{
  float: right;
  opacity: 0;
}

.icons i{
  padding: 2px;
  color: #79ccb9;
}